
.base {
    min-height: 52vh;

    &__container {
        width: 90%;
        margin: 0 auto;
                        
        @media (min-width:768px) {
            max-width: 1160px;
            width: 100%;
            padding: 0 20px;
        }
    }

    &__box {
        @extend %tpl-font-text;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vw;
        padding: 2vw;
        margin-top: 2vw;
        border: 1px solid #FFFFFF;
        border-radius: 15px;
    }
}

.box__item:hover {
    color: rgb(161, 161, 161);
}