.btn {
    @extend %tpl-font-text;
    display: flex;
    align-items: center;
    
    border: 2px solid;
    border-radius: 15px;
    padding: 10px 30px 10px 30px;

    &:hover {
        transform: scale(1.1);
    }
}

.icon {
    margin-left: 10px;
}